/* App.css */

/* Navbar Styles */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Navbar Brand */
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
}

/* Navbar Links */
.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f8c146; /* Light yellow color on hover */
}

/* Dropdown Menu */
.dropdown-menu {
  border-radius: 0.5rem;
}

/* Search Form */
.form-control {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}
